* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;

}

body{
    margin: 140px;
}
/* shared style */
.color-text{
    color: #FF5400;
}
nav{
    width: 90%;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    margin: 0 auto;
}
  
.logo{
    display: flex;
    gap:15px;
}
.logo-pic{
height: 56.008px;
}
.logo-name{
    color: #131318;
font-family: Mulish;
font-size: 36px;
font-weight: 800;
}
.menu{
    display: flex;
    flex-direction: row;
    gap:44px;
    margin-right: 44px;

}
.menu>ul>li{
    display: inline;
    margin-right: 44px;
    color: #FF5400;

}
.menu li a{
    text-decoration: none;
}
.hamburger-menu img {
    width: 24px;
    height: 24px;
}

.hamburger-menu {
    display: none;
}
.banner1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.636), rgba(0, 0, 0, 0.133)), url('../images/Group\ 13\ \(1\)\ \(1\).png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 16px;
    margin-top: 50px;
}
.banner-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.banner1 h1 {
    color: #FFF;
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}
.banner1 p {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    color: #FFF;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.search-container {
    width: 70vw;
    display: flex;
    flex-direction: row;
    border: 3px solid rgba(37, 36, 36, 0.264);
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2em 3rem;
    background-color: rgba(163, 163, 170, 0.492);
    text-align: center;
}
.src {
    width: 40%;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    padding: 1rem;
    outline: 0;
    border: none;
    color: black;
}
.button-primary:hover {
    transform: scale(1.1);
}
.button-primary {
    cursor: pointer;
    width: 40%;
    height: 52px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-align: center;


    border-radius: 8px;
    background: #FF5400;
    padding: 1rem;
    outline: 0;
    border: none;
    
    font-size: 1rem;
    font-weight: 700;
    transition: all 0.5s ease-in-out;
}
#btn{
    width: 174px;
height: 52px;
flex-shrink: 0;
}
.tour{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-top:100px;
    /* width: 1440px;
height: 6940px; */
margin-bottom: 50px;

}

.tour-discreption{
 color:rgba(19, 19, 24, 0.70);
 font-family: Mulish;
 font-size: 16px;
 font-style: normal;
 font-weight: 400;
 line-height: 26px;
 flex-direction: column;
    justify-content: space-evenly;
    align-items: space-between;
    width: 65%;
    width: 1440px;


}
.tour-title{
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;

}
.tour-discreption li {
    margin-bottom:16px ;
    
}
#tour-button{
    margin-top:35px;
}
.tour-pic{
    width: 540px;
height: 550px;
flex-shrink: 0;
}
/* .parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div-1 { grid-area: 1 / 1 / 2 / 3; }
    .div-2{ grid-area: 1 / 3 / 2 / 5; }
    .div-3{ grid-area: 2 / 1 / 3 / 2; }
    .div-4{ grid-area: 2 / 2 / 3 / 4; }
    .div-5{ grid-area: 2 / 4 / 3 / 5; }
    .div-6{ grid-area: 3 / 1 / 4 / 3; }
    .div-7{ grid-area: 3 / 3 / 4 / 5; } */
    .parent {
        width: 98%;
        margin: 1rem auto 3rem auto;
        padding: 0 10px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        position: relative;
    }
    
    .parent div {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-radius: 20px;
        height: 500px;
    }
    
    .parent div h1 {
        font-size: 28px;
        font-weight: 800;
        color: white;
    }
    
    .div-1 {
        background-image: url('../images/Rectangle\ 5.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        grid-area: 1 / 1 / 2 / 3;
    }
    
    .div-2 {
        background-image: url('../images/Rectangle\ 8.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        grid-area: 1 / 3 / 2 / 5;
    }
    
    .div-3 {
        background-image: url('../images/Rectangle\ 6.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        grid-area: 2 / 1 / 3 / 2;
    }
    
    .div-4 {
        background-image: url('../images/Rectangle\ 7.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        grid-area: 2 / 4 / 3 / 5;
    }
    
    .div-5 {
        background-image: url('../images/Rectangle\ 9.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        grid-area: 2 / 2 / 3 / 4;
    }
    
    .div-6 {
        background-image: url('../images/Rectangle\ 11.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        grid-area: 3 / 1 / 4 / 3;
    }
    
    .div-7 {
        background-image: url('../images/Rectangle\ 10.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        grid-area: 3 / 3 / 4 / 5;
    }

.choose{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

}
.choose-title{
    color: #131318;
/* text-align: center; */
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;

}
.choose-discreption{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
/* width: 643px; */
}
.div-title{
    color: #131318;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.div-discreption{
    color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;

}
.div-container{
    display:flex;
    flex-direction: column;
    /* display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 20px;
grid-row-gap: 20px; */
    
}
.div{
    display: flex;
    gap:20px;
    justify-content: space-between;
    margin-bottom: 20px;
}
.div1{
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
padding: 32px;

}
.div2{
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
padding: 32px;
/* grid-area: 1 / 1 / 2 / 3; */
}
.div3{
    border-radius: 16px;

border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
padding: 32px;
width: 573px;
height: 284px;
flex-shrink: 0;

/* grid-area: 1 / 1 / 2 / 3; */

}


.discount {
    height: 100%;
    width: 100%;
    /* margin-left: 140px;
    margin-right: 140px; */
}


.discount-details {
    margin: 2rem auto 2rem auto;
}

.discount-details h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.discount-details p {
    color: rgba(19, 19, 24, 0.70);
    width: 75%;
    margin: 1rem auto 2rem auto;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.discount-main {
    width: 100%;
    height: 100%;
   
    margin-top: 4rem;
}

.discount1 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* height: 60vh; */
    width: 100%;
    display: flex;
    padding: 5rem;
    align-items: center;
    background-image: url('../images/Group\ 39.png');
    margin-bottom: 3rem;
    border-radius: 16px;
}

.second {
    background-image: url('../images/Group\ 40.png');
}

.third {
    background-image: url('../images/Group\ 39.png');
}

.right {
    justify-content: end;
}

.left {
    justify-content: start;
}

.offers {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.717);
    width: 50%;
    /* height: 100%; */
    border: 2px solid white;
    border-radius: 16px;
}

.offers h1 {
    font-size: 20px;
    font-style: normal;
    font-weight: 800
}

.offers p {
    margin: 1.2rem 0 1.2rem 0;
    color: #5A5A5D;
    width: 80%;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.offer-icon {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.offer-icon img {
    width: 22px;
    height: 22px;
}

.offer-icon p {
    /* width: 90%; */
    /* max-width: 40%; */
    color: #5A5A5D;
    font-size: 14px;
    font-weight: 400;
    margin-right: .5rem;
}

.offers h3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: .7em;
}

.icon {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.discount-button {
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    background: rgba(19, 19, 24, 0.05);
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    margin: 0px;
}

.footerContainer {
    padding: 4rem 2rem;
    height: 100%;
    width: 70%;
    margin: 0 auto;
    /* border: 1px solid black; */
}

.footerContainer h1 {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 1rem;
}

.footerContainer p {
    color: #5A5A5D;
    width: 95%;
    margin: 1rem auto;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.last2btn {
    width: 100%;
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.footerContainer h2 {
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    margin-top: 2rem;
}

.logoContainer a img {
    width: 24px;
    height: 24px;
}

.simple{
    display: inline-block;
}


.last {
    /* border: 3px solid black; */
    /* width: 90%; */
    height: 100%;
    padding: 2rem 0;
    margin: 1rem auto;
}

.last3first h1 {
    width: 70%;
}

.last3first p {
    width: 80%;
    margin-bottom: 1rem;
}

.last3first ul {
    width: 80%;
}

.last3first {
    width: 50%;
}

.last3last {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
    text-align: center;
    /* border: 2px solid black; */
    align-items: center;
    /* border: 2px solid black; */
    background-image: url('../images/Group\ 40089.png');
}

.last3last h1 {
    /* border: 2px solid black; */
    text-align: center;
    margin-left: 3rem;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    width: 100%;
    color: white;
}

.last2 {
    /* margin-top: 3rem; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last2first {
    width: 45%;
    padding: 3rem;
}

.last2first h1 {
    font-size: 28px;
    font-weight: 800;
}

.last2first p {
    color: #5A5A5D;
    width: 70%;
    margin: 1rem 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.last2first div input {
    width: 100%;
    /* height: 52px; */
    padding: 1.5rem;
    border: 1px solid gray;
    outline: none;
    border-radius: 10px;
    margin: 1rem 0;
}

.last2second {
    /* border-radius: 20px; */
    width: 55%;
    height: 422px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    text-align: center;
    padding: 0 2rem 2rem 0;
    align-items: center;
    background-image: url('../images/Rectangle\ 8\ \(1\).png 40.png');
}

.tag {
    position: absolute;
    top: 60%;
    right: 10%;
    padding-top: 1rem;
    /* padding-bottom: 2rem; */
    width: 224px;
    height: 80px;
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    transform: rotate(-30deg);
    border-radius: 16px;
    background: #FF5400;
    /* transform: translate(-50, -50); */
}






/* media query for  mobile phone  */
@media only screen and (max-width: 600px)
{
body{
    margin: 30px;
}
.menu{
    display: none;
}
.hamburger-menu{
    display: flex;

}
.banner1 h1 {
    font-size: 40px;
}
.banner1 p{
    width: 90%;
    font-size: 16px;
    font-weight: 0%;
    line-height: 16px;
}
.search-container{
   display: flex;
   flex-direction: column;
   width:auto;



}
    .src,
    .button {
        width: 70%;
        height: 52px;
        gap: 1rem;
        
    }


    .tour{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:30px;
    }
    .tour-discreption{
        width:auto;
    }
    .tour-pic{
        margin-top: 16px;
        margin-left: 20px;
        width: auto;
        margin-right: 20px;
flex-shrink: 0;
    }
    .offers{
        width: auto;
        height: auto;
 
    }
    .div{
        display: flex;
        flex-direction: column;
    }
    .div3{
        width: auto;
    }
    .parent {
        padding: 0 2rem;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin:0px ;
        margin-top: 20px;
        
    }
    .parent div {
        grid-area: auto;
        /* height: 200px; */
        height: 350px;
       /* width: 100%; */
        /* border-radius: 0; */
    }
    .footerContainer {
        width: 95%;
    }
    .footerContainer p {
        width: 100%;
    }


}
